{% extends 'base.html' %}
{% block title %}Travel Bucketlist App{% endblock %}

{% block body %}
  <h1>This is the page where the user will see their finalized bucketlist!</h1>

  <h2>Here is your bucketlist!</h2>

  <h3>{{ category1 }}</h3>
  <div>
    {{ category1_items }}
  </div>
  
  <h3>{{ category2 }}</h3>
  <div>
    {{ category2_items }}
  </div>

  <h3>{{ category3 }}</h3>
  <div>
    {{ category3_items }}
  </div>

  <h3>Would you like to make another bucketlist?</h3>
  <a href="http://10.0.0.30:5000/login">You can return to your homepage here.</a>
{% endblock %}