{% extends 'base.html' %}
{% block title %}Travel Bucketlist App{% endblock %}

{% block body %}
  <h1>~ Your OFFICIAL {{ location }} BUCKETLIST! ~</h1>
  <h3>{{ category1 }}</h3>
  <div>
  {% for place in category1_items %}
    <p>
      {{ place }}
    </p>
  {% endfor %}
  </div>
  
  <h3>{{ category2 }}</h3>
  <div>
    {{ category2_items }}
  </div>

  <h3>{{ category3 }}</h3>
  <div>
    {{ category3_items }}
  </div>

  <br>
  <h3>Would you like to make another bucketlist?</h3>
  <a href="http://localhost:5000/profile">Return to Your Profile Page here.</a>
{% endblock %}