{% extends 'base.html' %}
{% block title %}Travel Bucketlist App{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
  <h1>This is the page where the user will fill out Categories Form.</h1>

  <h2>Choose your Top 3 Travel Categories for {{ location }}:</h2>
  <form action="/travel" method="POST">
    <div>
    <select name="category1">
        <option value="Food">Food and Drinks</option> 
        <option value="Nature">Nature and Parks</option> 
        <option value="Nightlife">Nightlife</option>
        <option value="Musuems">Musuems and Art</option>
        <option value="History">Historical Sites</option>
        <option value="Shopping">Shopping</option>
        <option value="Landmarks">Sights and Landmarks</option>
        <option value="Shows">Concerts and Shows</option>
        <option value="Popular">Most Popular</option>
        <option value="Day Trips">Day Trip Activities</option>
    </select>
    </div>
    <div>
    <select name="category2">
      <option value="Food">Food and Drinks</option> 
      <option value="Nature">Nature and Parks</option> 
      <option value="Nightlife">Nightlife</option>
      <option value="Musuems">Musuems and Art</option>
      <option value="History">Historical Sites</option>
      <option value="Shopping">Shopping</option>
      <option value="Landmarks">Sights and Landmarks</option>
      <option value="Shows">Concerts and Shows</option>
      <option value="Popular">Most Popular</option>
      <option value="Day Trips">Day Trip Activities</option>
    </select>
    </div>
    <div>
    <select name="category3">
      <option value="Food">Food and Drinks</option> 
      <option value="Nature">Nature and Parks</option> 
      <option value="Nightlife">Nightlife</option>
      <option value="Musuems">Musuems and Art</option>
      <option value="History">Historical Sites</option>
      <option value="Shopping">Shopping</option>
      <option value="Landmarks">Sights and Landmarks</option>
      <option value="Shows">Concerts and Shows</option>
      <option value="Popular">Most Popular</option>
      <option value="Day Trips">Day Trip Activities</option>
    </select>
    </div>
    <p>
      <button id="categories-button">I wanna see my options!</button>
    </p>
  </form>
  <p>
    {{ data }}
  </p>
{% endblock %}

{% block after_body %}
{% endblock %}