{% extends 'base.html' %}
{% block title %}Travel Bucketlist App{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/style.css"/>
<style>
    h1 {
    text-align: center;
    }
  </style>
{% endblock %}

{% block body %}
<h1>~ Why is Traveling so Important? ~</h1>

<div class="nav">
    <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/mybucketlists">My Bucketlists</a></li>
        <li><a href="/createbucketlist">Create a New Bucketlist!</a></li>
    </ul>
  </div>

<h3>Add Photos & Text.</h3>
{% endblock %}