{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/bucketlists.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <div class="navbar">
    <img src="/static/images/logo.png" class="logo">
    <nav>
      <ul>
        <li><a href="/profile">HOME</a></li>
        <li><a href="/mybucketlists">BUCKETLISTS</a></li>
        <li><a href="/createbucketlist">CREATE BUCKETLIST</a></li>
      </ul>
    </nav>
    <a href="">
      <img src="/static/images/menu.png" class="menu-icon">
    </a>
  </div>

  <h1>Bucket Lists</h1>
  
  <div class="main">
    {% for bucketlist in bucketlists | sort(attribute='location') %}
      <div id="div{{ bucketlist.bucketlist_id }}">
        <a class="link" href="/bucketlist/{{ bucketlist.bucketlist_id }}">{{ bucketlist.location }}</a>
        <button class="delete_button" id="{{ bucketlist.bucketlist_id }}">X</button>
      </div>
    {% endfor %}
  </div>

  <script src="/static/editbucketlist.js"></script> 
{% endblock %}
