{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/profilepage.css"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
  <div class="container">
    <div class="navbar">
      <img src="/static/images/logo.png" class="logo">
      <nav>
        <ul>
          <li><a href="/profile">HOME</a></li>
          <li><a href="/mybucketlists">BUCKETLISTS</a></li>
          <li><a href="/createbucketlist">CREATE BUCKETLIST</a></li>
        </ul>
      </nav>
      <img src="/static/images/menu.png" class="menu-icon">
    </div>

    <div class="row">
      <div class="col">
        <h1>Welcome {{ user }}</h1>
        <p>Are you ready to Travel?</p>
        <button>Explore</button>
      </div>
    </div>


  </div>




  <!--
  <form action="/logout" method="POST">
    <p> 
      <button id="logout_button">Log Out</button>
    </p>
  </form> -->
{% endblock %}