{% extends 'base.html' %}
{% block title %}Travel Bucketlist App{% endblock %}

{% block body %}
  <h1>This is the page where the user will see their suggestions based on the categories they picked.</h1>

  <form action="/bucketlist" method="POST">
    <h2>Select your {{ category1 }} options:</h2>

    <p>Add the data here</p>

    <p>
      <input type="checkbox" name="category1_items" value="item1" id="pop-genre">
      <label for="pop-genre">Item1</label>
    </p>   
    <p>
      <input type="checkbox" name="category1_items" value="item2" id="hiphop-genre">
      <label for="hiphop-genre">Item2</label>
    </p>  
    <p>
      <input type="checkbox" name="category1_items" value="item3" id="other-genre">
      <label for="other-genre">Item3</label>
    </p>
    <p>
      <input type="checkbox" name="category1_items" value="item4" id="other-genre">
      <label for="other-genre">Item4</label>
    </p>
    <p>
      <input type="checkbox" name="category1_items" value="item5" id="other-genre">
      <label for="other-genre">Item5</label>
    </p>

    <h2>Select your {{ category2 }} options:</h2>
    <p>
      <input type="checkbox" name="category2_items" value="item1" id="pop-genre">
      <label for="pop-genre">Item1</label>
    </p>   
    <p>
      <input type="checkbox" name="category2_items" value="item2" id="hiphop-genre">
      <label for="hiphop-genre">Item2</label>
    </p> 
    <p>
      <input type="checkbox" name="category2_items" value="item3" id="other-genre">
      <label for="other-genre">Item3</label>
    </p>
    <p>
      <input type="checkbox" name="category2_items" value="item4" id="other-genre">
      <label for="other-genre">Item4</label>
    </p>
    <p>
      <input type="checkbox" name="category2_items" value="item5" id="other-genre">
      <label for="other-genre">Item5</label>
    </p>

    <h2>Select your {{ category3 }} options:</h2>
    <p>
      <input type="checkbox" name="category3_items" value="item1" id="pop-genre">
      <label for="pop-genre">Item1</label>
    </p>    
    <p>
      <input type="checkbox" name="category3_items" value="item2" id="hiphop-genre">
      <label for="hiphop-genre">Item2</label>
    </p> 
    <p>
      <input type="checkbox" name="category3_items" value="item3" id="other-genre">
      <label for="other-genre">Item3</label>
    </p>
    <p>
      <input type="checkbox" name="category3_items" value="item4" id="other-genre">
      <label for="other-genre">Item4</label>
    </p>
    <p>
      <input type="checkbox" name="category3_items" value="item5" id="other-genre">
      <label for="other-genre">Item5</label>
    </p>
    <p> 
      <button id="bucketlist_button">Make my bucketlist!</button>
    </p>
  </form>
{% endblock %}

{% block after_body %}
<ol id="places"></ol>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBs-5B4T10BXz6x6VwagOT3sZqelFpg_kc&libraries=places"></script>
<script src="/static/eventlisteners.js"></script>
{% endblock %}