{% extends 'base.html' %}

{% block head %}
  <link rel="stylesheet" href="/static/suggestionspage.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
  <h1>~ Travel Suggestions for {{ location }} ~</h1>
  <div class="row">
    <div class="col">
        <form action="/bucketlist" method="POST">
          {% for i in range(3) %} 
            {% set category = categories[i] %}
            {% set category_items = item_lists[i] %}
            {% set category_test = test_lists[i] %}
            {% if category_items == [] %} 
              <h2>Sorry, there are no suggestions for {{ category }}.</h2>
            {% elif category == "" %}
              <h2>Sorry, there are no suggestions for that category.</h2>
            {% else %} 
              <h2>{{ category }}:</h2>
              <input type="hidden" name="category{{ i +1 }}name" value="{{ category }}">
                    {% for item in category_test %}
                    <div class="card">
                      <h5>{{ item[0] }}</h5>
                      <img src="{{ item[1] }}">
                      <h5>Ratings {{ item[2] }}/5</h5>
                      <input type="checkbox" name="category{{ i + 1 }}" value="{{ item[0] }}" id="add-button">
                      <label for="category{{ i + 1 }}">Add</label>
                    </div>
                    {% endfor %}
            {% endif %} 
          {% endfor %}
          <p> 
            <button id="bucketlist_button">Make Bucketlist!</button>
          </p>
        </form>
      </div>
    </div>
  </div>
  <script src="/static/addbutton.js"></script>
{% endblock %}