<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Travel Bucketlist App</title>
    <link rel="stylesheet" href="/static/welcomepage.css"/>
  </head>

  <body>
    <h1>Welcome to the Travel Bucket List App!</h1>
    <div class="parent">
      <div class="child box">
        <h2>Create an Account</h2>
        <form action="/create_account" method="POST">
          <p>
            First Name <input type="text" name="fname" placeholder="First Name">
          </p>
          <p>Last Name <input type="text" name="lname" placeholder="Last Name">
          </p>
          <p>
            Email <input type="text" name="email" placeholder="Email Address">
          </p>
          <p>
            Password <input type="password" name="password" placeholder="Password">
          </p>
          <p> 
            <button id="create_account_button">Create an Account!</button>
          </p>
        </form>
      </div>

      <div class="child">
        <h2>OR</h2>
      </div>

      <div class="child box">
        <h2>Log In</h2>
        <form action="/login" method="POST">
          <p>
            Email <input type="text" name="email" placeholder="Username or e-mail">
          </p>
          <p>
            Password <input type="password" name="password" placeholder="Password">
          </p>
          <p> 
            <button id="login_button">Log in</button>
          </p>
        </form>
        <form action="/forgotpassword" method="POST">
          <p>
            <a href="/" id="link">Forgot Password?</a>
          </p>
        </form>
      </div>
    </div>  
    <script src="/static/welcomebuttons.js"></script>
  </body>
</html>